
<h1>To Do</h1>

<h2>Crear Tarea</h2>

<%= render 'form', task: @task %>

<h2>Sus tareas son las siguientes</h2>

<% @tasks.each do |task| %>
    <li> <%= task.title%> 
    <%= link_to "Editar", edit_task_url(task)%>
    <%= link_to "Borrar", task_url(task), method: :delete, data:{confirm: "Estas seguro?" }%>
    </li> 
    
<% end %>
