// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.data-task{
    opacity: 0.5;
}

.a-button{
    color: green;
}

.b-button{
    color: red;
}
